<h1 class="center">Services</h1>
<br>
<!--<div class='center'>-->


<div class="card-deck justify-content-center">
    <div class="col-4">
      <%= link_to(rides_path, :class => "clickable-card") do %>
      <div class="card bg-light">
        <%= image_tag('transport.jpg', :class => "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Transportation Service</h5>
          <p class="card-text">Post or find rides</p>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-4">
      <%= link_to("https://bbs.cssatamu.com/forum.php", :class => "clickable-card") do %>
        <div class="card bg-light">
          <%= image_tag('forum.jpg', :class => "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">TAMU CSSA Forum</h5>
            <p class="card-text">Make friends, find roommate & apartment, buy and sell goods...</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <%= link_to("https://www.cssatamu.com/event", :class => "clickable-card") do %>
        <div class="card bg-light">
          <%= image_tag('event.jpg', :class => "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">TAMU CSSA Event</h5>
            <p class="card-text">Check out recent TAMU CSSA events</p>
          </div>
        </div>
      <% end %>
    </div>

</div>