<div><h1 class="center p-4">Passenger Form</h1></div>
<%= form_tag driver_path, :method => :post do %>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag(:q, "Depart from") %>
      <%= select_tag :depart_from, options_for_select([['Zachry', 1], ['HEB', 2], ['IAH', 3], ['Walmart', 4], ['DPS', 5], ['REC', 6]]) %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag(:q, "Destination") %>
      <%= select_tag :destination, options_for_select([['Zachry', 1], ['HEB', 2], ['IAH', 3], ['Walmart', 4], ['DPS', 5], ['REC', 6]]) %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag(:q, "Departure Date") %>
      <%= select_date Date.today, prefix: :start_date %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag(:q, "Departure Time") %>
      <%= select_hour(nil, prompt: 'Choose hour', ampm:true) %>
      <%= label_tag(:q, "All-day ") %>
      <%= check_box_tag("All-day", value = "1", checked = true) %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag(:q, "How many seats are available? ") %>
      <%= text_field_tag(:q) %>
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I understand the terms and policy associate with this service</label>
    </div> -->
  </div>
  <div class="actions row justify-content-center" style="color:red;" font-size="8px" ><%= flash[:alert] %></div>
  <div class="row justify-content-center">
    <%= submit_tag "Submit Ride", class: "row btn btn-primary justify-content-center "%>
  </div>
<%end %>