<center>
  <h1>Dashboard</h1>
  <!--<table class="center">
	<tr>
	  <td>
		<%= link_to '<button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Accounts</button>'.html_safe, accounts_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= link_to '<button type="submit" class="btn btn-primary">Posts</button>'.html_safe, rides_path %>
	  </td>
  </tr>
  </table>-->
  
    <div class="row">
    <div class="column center" style="width:25%;">
      <%= link_to(accounts_path, :class => "clickable-card") do %>
      <div class="card bg-light">
        <%= image_tag('users.png', :class => "card-img-top", :size => '100x200') %>
        <div class="card-body">
          <h5 class="card-title">Active Accounts</h5>
          <p class="card-text">Manage and remove active user accounts.</p>
        </div>
      </div>
      <% end %>
    </div>
	
	<div class="column center" style="width:25%;">
      <%= link_to(archive_accounts_path, :class => "clickable-card") do %>
      <div class="card bg-light">
        <%= image_tag('car.png', :class => "card-img-top", :size => '100x200') %>
        <div class="card-body">
          <h5 class="card-title">Archived Accounts</h5>
          <p class="card-text">View and restore archived user accounts.</p>
        </div>
      </div>
      <% end %>
    </div>
  
    <div class="column center" style="width:25%;">
      <%= link_to(rides_path, :class => "clickable-card") do %>
      <div class="card bg-light">
        <%= image_tag('car.png', :class => "card-img-top", :size => '100x200') %>
        <div class="card-body">
          <h5 class="card-title">Posts</h5>
          <p class="card-text">Manage and remove user rides and posts.</p>
        </div>
      </div>
      <% end %>
    </div>
	
  </div>

  </div>
</center>

</br>
