<div><h1 class="center p-4">Login Page!</h1></div>
<%= form_tag login_index_path, :method => :post do %>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, class: 'form-control', name: 'username', id: 'inputUsername', placeholder: 'Username' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <%= label_tag :password %>
	  <%= password_field_tag :password, nil, class: 'form-control', name: 'password', placeholder: 'Password' %>
    </div>
  </div>
  <div class="row justify-content-center">

  </div>

  <div class="row justify-content-center">
    <%= submit_tag "Login", class: "row btn btn-primary justify-content-center "%>
  </div>
  <div class="row justify-content-center p-3">
  <%= link_to "Create an account",new_account_path %>
  <%end %>
  </div>
