<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group" id="list-tab" role="tablist">
              <a href="#list-profile" id="list-profile-list" data-toggle="list" role="tab" class="list-group-item list-group-item-action active" aria-controls="profile">My Profile</a>
              <a href="#list-requests" id="list-requests-list" data-toggle="list" role="tab" class="list-group-item list-group-item-action" aria-controls="requests">My Requested Rides</a>
              <a href="#list-posts" id="list-posts-list" data-toggle="list" role="tab" class="list-group-item list-group-item-action" aria-controls="posts">My Posted Rides</a>
            </div> 
		</div>
		
		<div class="col-md-9 tab-content" id="nav-tabContent">
		    <div class="card tab-pane active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
		        <div class="card-body" >
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>My Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <%= form_for @profile do |f| %>
                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">User Name</label> 
                                <div class="col-8">
								  <%= f.text_field :username, :id => "username", :name => "username", :class => "form-control here", :required => true, :placeholder => @profile.username %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Name</label> 
                                <div class="col-8">
									<%= f.text_field :name, :id => "name", :name => "name", :class => "form-control here", :required => true, :placeholder => @profile.name %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email</label> 
                                <div class="col-8">
								  <%= f.text_field :email, :id => "email", :name => "email", :class => "form-control here", :required => true, :placeholder => @profile.email %>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">New Password</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                                </div>
                              </div> 
							  <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">Confirm New Password</label> 
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="Confirm New Password" class="form-control here" type="text">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <div class="offset-4 col-8">
								  <%= f.submit "Update My Profile", class: "row btn btn-primary" %>

                                </div>
                              </div>
                            <% end %>
		                </div>
		            </div>
		        </div>
		    </div>
		<div class="card tab-pane" id="list-requests" role="tabpanel" aria-labelledby="list-requests-list">
			<div class="card-body" >
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>My Requested Rides</h4>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
						<table id="rides-table" class="table table-striped">
								<thead>
								  <tr>
									<th>Ride ID</th>
									<th>Type</th>
									<th>Departure</th>
									<th>Destination</th>
									<th>Departure Date</th>
									<th>Departure Time</th>
									<th>Seats</th>
									<th>Actions</th>
								  </tr>
								</thead>
								<tbody>
								  <% @requests.each do |r| %>
									<tr>
									  <td><%= link_to "Ride " + String(r.id), r %></td>
									  <td><%= r.role %></td>
									  <td><%= r.departure %></td>
									  <td><%= r.destination %></td>
									  <td><%= String(r.start_date) + " to " + String(r.end_date) %></td>
									  <td><%= String(r.start_time) + " to " + String(r.end_time) %></td>
									  <td><%= r.seats %></td>
									  <td><%= link_to "Match", r, class: 'badge-pill badge-info'%>
									      <%= link_to "Edit", edit_ride_path(r), class: 'badge-pill badge-success'%>
										  <%= link_to "Delete", ride_path(r), method: :delete, data: { confirm: "Are you sure?" }, class: 'badge-pill badge-danger' %></td>
									</tr>
								  <% end %>
								</tbody>
							  </table>
		                </div>
		            </div>
		        </div>
		</div>
		<div class="card tab-pane" id="list-posts" role="tabpanel" aria-labelledby="list-posts-list">
				<div class="card-body" >
					<div class="row">
		                <div class="col-md-12">
		                    <h4>My Posted Rides</h4>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
							<table id="rides-table" class="table table-striped">
								<thead>
								  <tr>
									<th>Ride ID</th>
									<th>Type</th>
									<th>Departure</th>
									<th>Destination</th>
									<th>Departure Date</th>
									<th>Departure Time</th>
									<th>Seats</th>
									<th>Actions</th>
								  </tr>
								</thead>
								<tbody>
								  <% @posts.each do |p| %>
									<tr>
									  <td><%= link_to "Ride " + String(p.id), p %></td>
									  <td><%= p.role %></td>
									  <td><%= p.departure %></td>
									  <td><%= p.destination %></td>
									  <td><%= String(p.start_date) + " to " + String(p.end_date) %></td>
									  <td><%= String(p.start_time) + " to " + String(p.end_time) %></td>
									  <td><%= p.seats %></td>
									  <td><%= link_to "Match", p, class: 'badge-pill badge-info'%>
									  <%= link_to "Edit", edit_ride_path(p), class: 'badge-pill badge-success'%>
										  <%= link_to "Delete", ride_path(p), method: :delete, data: { confirm: "Are you sure?" }, class: 'badge-pill badge-danger' %></td>
									</tr>
								  <% end %>
								</tbody>
							  </table>
		                </div>
		            </div>
		        </div>
		</div>


		</div>
	</div>
</div>