<% if session.has_key?('login') and session['login'] == "admin" %>
<%= link_to 'Back to Dashboard Page', admin_index_path %>
<% elsif session.has_key?('login') %>
<div>
<%= link_to 'Back to Services Page', services_path %>
</div>
<% end %>

<div class="center">
  <h1>All Rides Offers/Requests</h1>
</div>
<div class="center p-3">
  <%= link_to 'Create Ride', new_ride_url, class: "btn btn-primary " %>
</div>
<div class = "float-right p-3">
  <%= form_tag rides_path, :method => :get, :id => 'ride_type_form' do%>
    <%= hidden_field_tag "date_sort", true if @date_header%>
    <%= hidden_field_tag "time_sort", true if @time_header%>
    Ride Type:

    <% Ride.all_types.each do |role| %>
        <%= label_tag("role_#{role}", role) %>
        <%= check_box_tag "type[#{role}]", 1, @selected_type.include?(role), :id=> "role_#{role}" %>
    <% end %>

    <%= submit_tag 'Refresh', :id => 'ride_type_submit', :class => 'btn btn-outline-danger btn-sm' %>
  <% end %>
</div>


  <table id="rides-table" class="table table-striped">
    <thead>
      <tr>
        <th>Creator Username</th>
        <th>Type</th>
        <th>Departure</th>
        <th>Destination</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Seats</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @rides.each do |r| %>
        <tr>
          <td><%= r.account.username%></td>
          <td><%= r.role %></td>
          <td><%= r.departure %></td>
          <td><%= r.destination %></td>
          <td><%= String(Date.parse(r.start_date).strftime('%m/%d/%Y'))%></td>
          <td><%= String(r.start_time) + " to " + String(r.end_time)%></td>
          <td><%= r.seats %></td>
        <td><%= button_tag "Contact #{r.role.capitalize}", {class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => "#exampleModal"}%>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= "#{r.role.capitalize}"%> Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered thead-light ">
                    <tbody>
                    <tr>
                      <th><%= "#{r.role.capitalize}"%> Username</th>
                      <td class="table-light"><%= "#{r.account.username}"%> </td>
                    </tr>
                    <tr>
                      <th><%= "#{r.role.capitalize}"%> Email</th>
                      <td class="table-light"><%= "#{r.account.email}"%> </td>
                    </tr>
                    </tbody>
                  </table>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
		      <% if session.has_key?('login') and session['login'] == "admin" %>
              <%= link_to "Delete", ride_path(r), method: :delete, data: { confirm: "Are you sure?" }, class: 'badge-pill badge-danger' %></td>
			  <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>