<script>
    $(document).ready(function () {
        $('input.form_type[type=radio]').change(function () {
            $('.driver_form').css("display", "none");
            $('.passenger_form').css("display", "none");
            var fieldToShow = $(this).val();
            console.log($(this).val());
            $(".ride_form").css("display", "block");
            $("." + fieldToShow + "_form").css("display", "block");
        });
    });
</script>
<script>

    $(document).on("focus", "[data-behaviour~='datepicker']", function (e) {
        $(this).datepicker();
    });
</script>


<h1 class="center">Are you a Driver or Passenger?</h1>

<%= form_with model: @ride do |f| %>

  <div class="row">
    <div class="offset-2 col-8">
      <div class="p-2 center">
        <div class="form-check-inline">
          <%= f.label :role, "", :for => "Driver", :class => "btn btn-outline-primary" do %>
            <%= f.radio_button :role, 'driver', class: 'form_type form-check-input', id: 'Driver', value: 'driver' %>
            Driver
          <% end %>
        </div>
        <div class="form-check-inline">
          <%= f.label :role, "", :for => "Passenger", :class => "btn btn-outline-primary" do %>
            <%= f.radio_button :role, 'passenger', class: 'form_type form-check-input', id: 'Passenger', value: 'passenger' %>
            Passenger
          <% end %>
        </div>
      </div>
      <div>
        <div>
          <div class="ride_form">
            <div class="driver_form">
              <h1 class="center p-4">Driver Form</h1>
            </div>
            <div class="passenger_form">
              <h1 class="center p-4">Passenger Form</h1>
            </div>

            <div class="row">
              <div class="form-group col-6">
                <%= f.label :departure, "Depart From:" %>
                <%= f.select :departure, ['Zachry', 'HEB', 'IAH', 'Walmart', 'DPS', 'Rec'], {}, class: 'form-control' %>
              </div>

              <div class="form-group col-6">
                <%= f.label :destination, "Destination:" %>
                <%= f.select :destination, ['Zachry', 'HEB', 'IAH', 'Walmart', 'DPS', 'Rec'], {}, class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-6">
                <%= f.label :start_date, "Departure Date (YYYY-MM-DD)" %>
                <%= f.text_field :start_date, :class => "form-control" %>
              </div>
              <div class="form-group col-6">
                <%= f.label :end_date, "to" %>
                <%= f.text_field :end_date, :class => "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-6">
                <%= f.label :start_time, "Departure Time (hh:mm:ss)" %>
                <%= f.text_field :start_time, :class => "form-control" %>
              </div>
              <div class="form-group col-6">
                <%= f.label :end_date, "to" %>
                <%= f.text_field :end_time, :class => "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-6">
                <%= f.label :seats, "How many seats are available?", class: 'driver_form' %>
                <%= f.label :seats, "How many seats do you need?", class: 'passenger_form' %>
                <%= f.number_field :seats, :class => "form-control", :min => "1", :value => "1" %>
              </div>
            </div>
            <div class="center">
              <%= f.submit :class => "btn btn-primary" %>
              <%= button_tag("Reset", type: "button", class: "btn btn-secondary") %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

