<%= link_to 'View all rides', rides_path %>
<br><br>

<div class="center">
  <h1>Auto-Matched Rides</h1>
</div>

<div class="trip-info text-secondary center p-2">
  <div class="row center">
    <span class="center">For your trip from <b><%= "#{@ride.departure}" %></b></span>
  </div>
  <div class="row center">
    <span class="center">To <b><%= "#{@ride.destination}" %></b></span>
  </div>
  <div class="row center">
    <span class="center">Starting at <b><%= "#{Date.parse(@ride.start_date).strftime('%m/%d/%Y')}" %> </b><b><%= "#{@ride.start_time}" %> </b> to
      <b><%= "#{Date.parse(@ride.end_date).strftime('%m/%d/%Y')}" %></b> <b><%= "#{@ride.end_time}" %> </b></span>
  </div>
</div>

<% if @rides.size == 0 %>
  <div class="center p-4">
    <%= image_tag('sorry.png', :class => "", :width => '100', :height => '100') %>
    <h3> Sorry, we currently don't have any match </h3>
    <h5 class="text-secondary"> Please check this ride on your profile later</h5>
  </div>

<% else %>
  <table id="rides-table" class="table table-striped">
    <thead>
    <tr>
      <th>Creator Username</th>
      <th>Type</th>
      <th>Departure</th>
      <th>Destination</th>
      <th>Departure Date</th>
      <th>Departure Time</th>
      <th>Seats</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @rides.each do |r| %>
      <tr>
        <td><%= r.account.username %></td>
        <td><%= r.role %></td>
        <td><%= r.departure %></td>
        <td><%= r.destination %></td>
        <td><%= String(Date.parse(r.start_date).strftime('%m/%d/%Y')) %></td>
        <td><%= String(r.start_time) + " to " + String(r.end_time) %></td>
        <td><%= r.seats %></td>
        <% if session.has_key?('login') and current_user.isAdmin == true %>
          <td><%= button_tag "delete", {class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => "#delete-ride-#{r.id}"} %></td>
        <% elsif session.has_key?('login') %>
          <td><%= button_tag "Contact #{r.role.capitalize}", {class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => "#delete-ride-#{r.id}"} %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% @rides.each do |r| %>
    <!-- Modal -->
    <div class="modal fade" id="delete-ride-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="delete-modal-<%= r.id %>-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete-modal-<%= r.id %>-label"><%= "#{r.role.capitalize}" %> Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <table class="table table-bordered thead-light ">
              <tbody>
              <tr>
                <th><%= "#{r.role.capitalize}" %> Username</th>
                <td class="table-light"><%= "#{r.account.username}" %> </td>
              </tr>
              <tr>
                <th><%= "#{r.role.capitalize}" %> Email</th>
                <td class="table-light"><%= "#{r.account.email}" %> </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <% if session.has_key?('login') and current_user.isAdmin == true %>
              <%= link_to "Delete", ride_path(r), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
