<center>
  <p>
    <strong>ID</strong>
    <%= "Ride " + String(@ride.id) %>
  </p> 
  <p>
    <strong>Role</strong>
    <%= @ride.role %>
  </p>
  <p>
    <strong>Departure Location</strong>
    <%= @ride.departure %>
  </p>  
  <p>
    <strong>Destination</strong>
    <%= @ride.destination %>
  </p>
  <p>
    <strong>Departure Date</strong>
    <%= @ride.start_date + " to " + @ride.end_date %>
  </p>
  <p>
    <strong>Departure Time</strong>
    <%= @ride.start_time + " to " + @ride.end_time %>
  </p>
  <p>
    <strong>seats</strong>
    <%= @ride.seats %>
  </p>

<%= link_to 'back', rides_path %>
</center>