<style>
  .navbar-brand {
    font-size: 2em;
  }
</style>

<nav class="navbar navbar-light bg-light">

  <div class="container">
    <div>
      <% if session.has_key?('login') and session['login'] == "admin" %>
        <%= link_to admin_index_path, class: 'navbar-brand' do %>
          <%= image_tag "cssa.png", :width => "60", :height => "60", :id => "site-logo" %>
          CSSA Hub!
        <% end %>
      <% else %>
        <%= link_to home_index_path, class: 'navbar-brand' do %>
          <%= image_tag "cssa.png", :width => "60", :height => "60", :id => "site-logo" %>
          CSSA Hub!
        <% end %>
      <% end %>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if session.has_key?('login') and session['login'] %>
          <%= "Welcome, #{session['login']}" %>
        <% else %>
          Menu
        <% end %>
      </button>

      <div class="dropdown-menu my-2" aria-labelledby="dropdownMenuButton">
        <% if session.has_key?('login') and session['login'] %>
		<% if session['login'] == "admin" %>
            <%= link_to "Dashboard", admin_index_path, :class => "dropdown-item" %>
		<% end %>
          <% if session['login'] != "admin" %>
            <%= link_to "Profile", profile_index_path, :class => "dropdown-item" %>
		    <%= link_to "Services", services_path, :class => "dropdown-item" %>
          <% end %>
          <%= link_to "Logout", logout_path, :class => "dropdown-item" %>
        <% else %>
          <%= link_to "Login", login_index_path, :class => "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>

</nav>