
<div class="navbar navbar-fixed-top container">

<ul class="nav navbar-nav">
  <% if session.has_key?('login') and session['login'] == "admin" %>
    <li style='font-size:48px;'><%= link_to 'CssaHub!', admin_index_path %></li>
  <% else %>
    <li style='font-size:48px;'><%= link_to 'CssaHub!', services_path %></li>
  <% end %>
</ul>

<ul class="nav justify-content-end">
  <% if session.has_key?('login') and session['login'] %>
      <span class="navbar-item" id="welcome-message">
        <%= "Welcome, #{session['login']}" %>&nbsp;</span>
		<% if session['login'] != "admin" %>
		  <li class="nav-item"><%= link_to "Services", services_path %></li>
		  <li class="nav-item"><%= link_to "Profile", profile_index_path %></li>

		<% end %>
        <li class="nav-item"><%= link_to "Logout", logout_path %></li>
      
    <% else %>
      <li><%= link_to "Login", login_index_path %></li>
    <% end %>
</ul>
</div>