!!!
%html
  %head
    %title CssaHub
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %h1.title= link_to 'CssaHub!', '/'
    - if session.has_key?('login') and session['login']
      %p
        = "Welcome, #{session['login']}"
        = link_to "Logout", logout_path
    - else
      = link_to "Login", login_index_path
    %hr
    = yield
