<center>
<%= form_with(model: account, local: true) do |form| %>
  
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field required">
    <%= form.label :username %><br />
    <%= form.text_field :username, :maxlength => 50, :minlength => 5, :size => 20 %>
  </div>
	<br />
  <div class="field required">
    <%= form.label :email %><br />
    <%= form.text_field :email, :maxlength => 50, :minlength => 5, :size => 20 %>
  </div>
<br />
  <div class="field">
    <%= form.label :name %> <br />
    <%= form.text_field :name, :maxlength => 50, :minlength => 3, :size => 20  %>
  </div>
<br />
  <div class="field required">
    <%= form.label :password %> <br />
    <%= form.password_field :password, :maxlength => 50, :minlength => 5, :size => 20  %>
  </div>
<br />
  <div class="field required">
    <%= form.label :password_confirmation %> <br />
    <%= form.password_field :password_confirmation, :maxlength => 50, :minlength => 5, :size => 20  %>
  </div>
   </br>
  <div style='width:45%'>
	<%=form.check_box :terms_and_conditions %> As a student of Texas A&M University, I agree to follow all of the rules and regulations in the student code of conduct.<br />
  </div>
	
  </br>
  <div class="actions">
    <%= form.submit "Create Account", class: 'row btn btn-primary justify-content-center' %>
  </div>
<% end %>
<br />
<p>Note: * field is required</p>

</center>